@charset "UTF-8";

body{
    background-color: #c5ece1;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: hsl(164, 80%, 8%);

}

h1#principal{
    background-color: #0A6B4F;
    text-align: center;
    color: white;
} 

h2{
    color: #023d2c;
}


.basico{
    color: #08ca93;
}

.intermediario{
    color: #059c72;
}

.avancado{
    color: #057757;
}